body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.text-color {
    font-family: 'Nunito', sans-serif;
    color: #081F5C;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}